html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header ul li {
  display: inline-block;
  list-style-type: none;
  background-color: black;
  color: white;
}

.header ul li a {
  padding: 10px 20px;
  display: block;
}

.header ul li:hover {
  background-color: white;
  color: black;
  transition: 0.4s ease;
}

.header ul li:nth-child(1){
  border-radius: 20px 0 0 20px;
}

.header ul li:nth-child(5){
  border-radius: 0 20px 20px 0;
}

.container{
  width: 1000px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  text-align: left;
  cursor: pointer;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.12) ;
}

.container:hover{
  box-shadow: none;
  border: 1px solid black;
}

.serial{
  margin: 0 20px;
  /* font-size: px; */
  font-weight: 600;
}

.content-title{
  font-size: 18px;
  /* font-weight: 500; */
}